@charset "utf-8";
/* CSS Document 
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
colours: 
Dark blue: #2D303B RGB 45 48 59
Light blue: HEX #DCE3FF RGB 220 227 255
Dark blue: HEX #2861BC RGB 40 97 188
Lighter Blue: HEX #2CAFFF RGB 44 175 255
*/
* {
  box-sizing: border-box;
}
body {
	font-family: 'Helvetica', 'Arial', "sans-serif";/*Fallback font-family*/
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	letter-spacing: 1px;
	margin: 0;
}
h1, h2, h3 {
	font-family: 'Helvetica', 'Arial', "sans-serif";/*Fallback font-family*/
	font-family: 'Quicksand', sans-serif;
	color: #2861BC;
}
h1, h2 {
	font-size: 2em;
	text-align: center;
	padding: 15px 0 15px 0;
}
figure {
	padding: 0;
	margin: 0;
}
/* 


					Navigation 


*/

.main-nav {
  	padding: 0;
  	list-style: none;
}
.main-nav a {
	text-decoration: none;
	padding: 25px 0;
	text-align: center;
	display: block;
	color: #2861BC;
	font-size: 1em;
	font-weight: 600;
	border: 1px solid white;
}
.main-nav a:hover {
	color: #4D91FF;
}
.nav-container {
	background-color: #fff;
	padding-top: 5px;
	padding-bottom: 80%;
	flex-direction: row;
	justify-content: flex-end;
    z-index: 1;
	position: fixed;
	top: 0;
    right: 0;
	width: 0;
	height: 100%;
	overflow:hidden;
	
}
.nav-container.open {
	width: 100%;
	transition: .4s;
}
.hamburger-menu {
	display: block;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #fff; /*Fallback background colour*/
	background-color: rgba(255,255,255,0.2);
	padding: 4px 5px;
	cursor: pointer;
	z-index: 5;
}
.hamburger-menu div {
	width: 35px;
    height: 5px;
	margin: 5px 0;
    background-color: black;
	z-index: 10;
}
/* 


					Main content page 


*/
main {
	max-width: 1280px; /* Content Width */
	margin: auto;
}
 /* 
					Latest Launch 
*/
.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}
.article-container {
	border-bottom: 5px solid #2861BC;
	padding-bottom: 50px;
	padding-top: 20px;
	margin: 0 5px 0 5px;
}
.table-container {
	margin: 0 auto;
}
.table-container table {
	max-width: 100%;
	margin: 0 auto;
	padding-left: 0px;
}
.table-container table td {
	text-align: left;
    padding: 5px;
	font-size: 1em;
}
.details-container {
	padding-top: 30px;
	font-size: 1em;
}
 /* 
					Next Launch 
*/
.img-table-container {
	display: flex;
	flex-direction: column;
}
.item-1 {
	flex-grow: 1;
	margin: 0 auto;
}
.item-2 {
	flex-grow: 1;
	margin: 0 auto;
}
.img-table-container img {
	width: 160%;
	height: 160%;
	margin: 0 auto;
}
.img-table-container table {
	width: 100%;
	padding-top: 20px;
}
.img-table-container table td {
	text-align: left;
    padding: 5px;
	font-size: 1em;
}
/* 
					Image Gallery 
*/
.gallery-container {
  	position: relative;
}
.mySlides {
  	display: none;
}
.cursor {
  	cursor: pointer;
}
.prev,
.next {
  	cursor: pointer;
  	position: absolute;
  	top: 40%;
  	width: auto;
  	padding: 25px;
  	margin-top: -50px;
  	color: white;
  	font-weight: bold;
  	font-size: 20px;
  	border-radius: 0 3px 3px 0;
  	user-select: none;
  	-webkit-user-select: none;
}
.next {
  	right: 0;
  	border-radius: 5px 0 0 5px;
}
.prev:hover,
.next:hover {
  	background-color: rgba(0, 0, 0, 0.5);
}
.numbertext {
  	color: #f2f2f2;
  	font-size: 14px;
  	padding: 10px 10px;
  	position: absolute;
  	top: 0;
}
.gallery-row:after {
  	content: "";
  	display: table;
  	clear: both;
}
.gallery-column {
  	float: left;
  	width: 16.66%;
}
.demo {
  	opacity: 0.6;
}
.active, .demo:hover {
  	opacity: 1;
}
/* 
					Footer 
*/
footer div {
	margin: 0;
	padding: 0;
	
}
.footer-links {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
    padding-top: 80px;
	list-style: none;
	align-items: center;
}
.footer-links a {
	margin: 0;
	padding: 15px 0 15px 0;
	flex-grow: 1;
	text-align: center;
	font-size: 1.1em;
	text-decoration: none;
	color: black;
}
.footer-links a:hover {
	color: #2861BC;
}
.footer-icons {
	max-width: 600px;
	padding-top: 40px;
	display: flex;
	flex-direction: row;
	margin: auto;
}
.footer-icons a {
	flex-grow: 1;
}
.footer-icons a img {
	width: 40px;
	display: block;
    margin: 0 auto;
}
.footer-icons a img:hover {
	opacity: 0.7;
}
.footer-text {
	padding: 40px 0 40px 0;
	text-align: center;
}
/* 


					Contact page 


*/
.contact-container {
	border-bottom: 5px solid #2861BC;
	padding-bottom: 100px;
}
.form-text-container {
	max-width: 1280px;
}
.form-text-container h1 {
	padding-bottom: 0;
}
.form-text-container p {
	text-align: center;
	padding-bottom: 30px;
}
.form-background {
	background-color: #2e3144; /* Fallback */
	background: linear-gradient(#2e3144, #4a5b9b); /* Fallback */
	background-image: url(../images/star-background.svg);
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 700px;
	margin: 0 auto;
}
form p {
	padding: 15px 0 0 0;
	margin: 0;
	color: white;
	font-size: 14px;
}
.form-container {
	padding: 30px 80px 30px 80px;
}
input[type=text] {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
    width: 100%;
    padding: 12px 20px;
}
textarea {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
    height: 250px;
    padding: 15px 20px;
	border: none;
	font-size: 16px;
    resize: none;
}
input[type=text]:focus, textarea:focus {
	outline: none;
	border: 3px solid #2861BC;
}
.submit-btn {
	position: relative;
	padding: 15px 10px;
	background-color: #2CAFFF;
	color: white;
	cursor: pointer;
	border: none;
	margin: 20px 0 20px 0;
}
.submit-btn:hover {
	background-color: #43C0FF;
	transition: .3s;
}
.submit-btn:active {
	background-color: #299AD3;
}
.error {
	border: 1px solid #FF8A8A;
}
/* 
					Modal 
*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.close {
    color: black;
    position: absolute;
    right: 0px;
    font-size: 42px;
	cursor: pointer;
	padding-right: 15px;
}
.close:hover {
	color: rgba(0,0,0,.5);
}
.modal-content img {
	padding-top: 50px;
	max-width: 150px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal-content {
	margin: 0 auto;
}
.modal-content h2 {
	margin: 0;
	padding: 10px 0 10px 0;
}
.modal-content p, .link-container {
	text-align: center;
	margin: 0 auto;
}
.link-container {
	padding: 40px 0 50px;
}
.link-container a {
	color: #2861BC;
	text-decoration: none;
	font-size: 14px;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* 


					Media Queries 


*/
@media (min-width: 1025px) {
	.nav-container,
	.main-nav {
		display: flex;
	}
	.nav-container {
		padding-bottom: 5px;
		max-width: 2560px;
		position: static;
		top: 0;
    	left: 0;
		width: 100%;
	}
	.main-nav a {
		padding: 2px 50px;
		border: none;
	}
	.hamburger-menu {
		display: none;
	}
	.article-container {
	padding-bottom: 100px;
	padding-top: 100px;
	margin: 0;
	}
	.img-table-container {
	display: flex;
	flex-direction: row;
	}
	.img-table-container img {
	width: 70%;
	height: 70%;
	}
	.footer-links {
	flex-direction: row;
	}
	.modal-content {
    width: 40%;
	}
}
@media (min-width: 768px) {
	.footer-icons a img {
	width: 55px;
	}
	.table-container table {
	padding-left: 150px;
	}
}
@media (min-width: 480px) {
	h1, h2 {
	font-size: 3.5em;
	text-align: center;
	padding: 15px 0 15px 0;
	}
	.table-container table td {
	text-align: left;
    padding: 5px;
	font-size: 1.2em;
	}
.details-container {
	padding-top: 30px;
	font-size: 1.2em;
	}
	.img-table-container table td {
	font-size: 1.2em;
	}
}